<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
    <h1>Message情報管理システム</h1>
    <h2>Message一覧(全件)</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>内容</th>
        </tr>
        <tr th:each="message : ${messagelist}">
            <td th:text="${message.id}"></td>
            <td th:text="${message.title}"></td>
            <td th:text="${message.content}"></td>
        </tr>
    </table>
</body>
</html>